<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Golang vs. Python</title>
<meta name="description" content="Learning Go by comparing how you'd do it in Python"/>
<style>
{{ foundation_css | safe }}
</style>
<style>
{{ highlight_css | safe }}
.highlight { border-radius: 4px; padding: 2px; }
.highlight span { font-family: monospace; }
article { margin-bottom: 60px; }
article .codes { overflow: auto; background-color:#f8f8f8; }
article .code {
    float: left;
    width: 48%;
}
a.top { float: right; font-size: 80%; }
</style>
</head>
<body>

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
      </ul>
    </div>
    <h1>Go vs. Python<br><small>Learning Go by comparing how you'd do it in Python</small></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Table of Contents</h4>
    <ul>
    {% for snippet in snippets %}
      <li><a href="#{{ snippet.id }}">{{ snippet.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>


<div class="row">

  <div class="large-12 columns" role="content">
    {% for snippet in snippets %}
    <article id="{{ snippet.id }}">

      <a href="#top" class="top">Top</a>
      <h3>{{ snippet.title }}</h3>
      {% if snippet.readme %}
      {{ snippet.readme | safe }}
      {% endif %}
      <div class="codes">
        <div class="code python">
          <h6>Python</h6>
          {{ snippet.py_code | safe }}
        </div>
        <div class="code go">
          <h6>Go</h6>
          {{ snippet.go_code | safe }}
        </div>
      </div>
    </article>
    {% if not loop.last %}<hr>{% endif %}
    {% endfor %}

  </div>

</div>


<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>

<script>
(function() {
  var elements = document.querySelectorAll('a.top');
  for (var i=0; i < elements.length; i++) {
    elements[i].onclick = function() {
      window.scroll(0,0);
      if (location.hash) {
        location.hash = '';
      }
      return false;
    }
  }

})();
</script>
</body>
</html>
