<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Golang vs. Python</title>
<meta name="description" content="Learning Go by comparing how you'd do it in Python"/>
<style>
{{ foundation_css | safe }}
</style>
<style>
{{ highlight_css | safe }}
.highlight { border-radius: 4px; padding: 2px; }
.highlight span { font-family: monospace; }
article { margin-bottom: 60px; }
article .codes { overflow: auto; background-color:#f8f8f8; }
article .code {
    float: left;
    width: 48%;
}
</style>
</head>
<body>

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
      </ul>
    </div>
    <h1>Go vs. Python<br><small>Learning Go by comparing how you'd do it in Python</small></h1>
    <hr/>
  </div>
</div>


<div class="row">

<div class="large-12 columns" role="content">
  {% for snippet in snippets %}
  <article id="{{ snippet.id }}">

    <h3>{{ snippet.title }}</h3>
    {% if snippet.readme %}
    {{ snippet.readme | safe }}
    {% endif %}
    <div class="codes">
      <div class="code python">
        <h6>Python</h6>
        {{ snippet.py_code | safe }}
      </div>
      <div class="code go">
        <h6>Go</h6>
        {{ snippet.go_code | safe }}
      </div>
    </div>
  </article>
  {% if not loop.last %}<hr>{% endif %}
  {% endfor %}


<!-- <article>
<h3><a href="#">Blog Post Title</a></h3>
<h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
<div class="row">
<div class="large-6 columns">
<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
<p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</div>
<div class="large-6 columns">
<img src="http://placehold.it/400x240&text=[img]"/>
</div>
</div>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</article>
<hr/>
<article>
<h3><a href="#">Blog Post Title</a></h3>
<h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
<div class="row">
<div class="large-6 columns">
<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
<p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</div>
<div class="large-6 columns">
<img src="http://placehold.it/400x240&text=[img]"/>
</div>
</div>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</article> -->
</div>



</div>


<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>
</body>
</html>
